<!DOCTYPE html>
<html>

<head>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<link rel="import" href="bower_components/core-ajax/core-ajax.html">
	<link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
	<link rel="import" href="bower_components/core-icons/core-icons.html">
	<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
	<link rel="import" href="bower_components/core-item/core-item.html">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ng-polymer-elements/ng-polymer-elements.min.js"></script>
	<script src="js/main.js"></script>
	<style>
		.holder{
			display:inline-block;
			min-width: 250px;
			margin:20px;
			border:2px solid black;
			border-radius:2px;
		}
		.header{
			border-bottom: 2px solid black;
			padding:10px;
			padding-bottom: 30px;
		}
		.more{
			float:right;
		}
	</style>
</head>

<body>
	<div  ng-app="myApp" ng-controller="devicesController" horizontal layout start>
		
		<div class='holder' ng-repeat='x in devices'>
			<div class="header">
				<core-item icon="account-circle" class="contact-item">
				<div flex>
					<div flex class="name">{{x.deviceName}}</div>
				</div>
				<core-icon icon="more-vert"></core-icon>
				</core-item>
			</div>
			<div class="modules">
				<div class="module" ng-if="x.antiteft == true">
					<core-item icon="track-changes" class="contact-item"> Anti-theft
				</div>
				<div class="module" ng-if="x.privacy == true">
					<core-item icon="visibility" class="contact-item"> Privacy
				</div>
				<div class="module" ng-if="x.settings == true">
					<core-item icon="settings" class="contact-item"> Settings
				</div>
				<div class="module" ng-if="x.vulnerability == true">
					<core-item icon="system-update-tv" class="contact-item"> Vulnerability
				</div>
				<div class="module" ng-if="x.protection == true">
					<core-item icon="verified-user" class="contact-item"> Protection
				</div>
				<div class="module" ng-if="x.optimizer == true">
					<core-item icon="face-unlock" class="contact-item"> Optimizer
				</div>
			</div>
		</div>
		
		<core-ajax url="json/devices.json" handleAs="json"></core-ajax>
	</div>
	<script>
      // Wait for 'polymer-ready'. Ensures the element is upgraded.
      window.addEventListener('polymer-ready', function(e) {
        var ajax = document.querySelector('core-ajax');

        // Respond to events it fires.
        ajax.addEventListener('core-response', function(e) {
          console.log(this.response);
        });

        ajax.go(); // Call its API methods.
      });
    </script>
</body>

</html>